.projects-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-bottom: solid 2px #4CAF50;
}

.project-container {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-description {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(179, 241, 179);
}

.project-title-container {
  margin: auto;
}

.project-description-stack-wrapper {
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.project-img-container {
  width: 280px;
  padding: 5px;
  background-color: #4CAF50;
}

.devider {
  width: 100%;
  border-bottom: solid 2px #4CAF50;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-tech-stack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 0;
}

.project-tech-stack-item {
  list-style: none;
  margin: 5px;
}

.project-links-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project-link:link, .project-link:visited {
  color: #4CAF50;
}

.project-link:hover, .project-link:active {
  color: #52077e;
}