.fun {
  font-family: 'Rock Salt', cursive;
}

.big {
  font-family: 'Michroma', sans-serif;
}

.main {
  font-family: 'Pangolin', cursive;
}

.app-container {
  width: 100%;
}

.nav-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
}