nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: solid 2px #4CAF50;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: white;
  opacity: 100%;
}

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 50px;
  width: 130px;
  margin: 10px;
  font-size: 16px;
  border: solid rgb(248, 250, 247);

}

nav > a:link, nav > a:visited {
  text-decoration: none;
  color: white;
  background-color: #4CAF50;
}

nav > a:hover, nav > a:active {
  color: white;
  background-color: #52077e;
  border: solid rgb(248, 250, 247);
  box-shadow: 0 12px 16px 0 rgb(222, 173, 255);
}