.navbar {
  width: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #4CAF50;
  border-left: solid #000000 2px;
  z-index: 1;
  display: hidden;
  opacity: 0;
  transform-origin: 300px;
}

.navbar > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  height: 50px;
  width: 130px;
  margin: 1rem 1rem 1rem 1.1rem;
  font-size: 16px;
}

nav > a:link, nav > a:visited {
  text-decoration: none;
  color: white;
}

nav > a:hover, nav > a:active {
  font-size: 1.3rem;
  padding-left: 1rem;
  border-left: 4px solid #DEADFF;
}